{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultruimtes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Locatie</th>
                <th>Kamernummer</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultRuimte in consultRuimtes %}
            <tr>
                <td><a href="{{ path('consultruimtes_show', { 'id': consultRuimte.id }) }}">{{ consultRuimte.id }}</a></td>
                <td>{{ consultRuimte.locatie }}</td>
                <td>{{ consultRuimte.kamerNummer }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('consultruimtes_show', { 'id': consultRuimte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('consultruimtes_edit', { 'id': consultRuimte.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultruimtes_new') }}">Create a new consultRuimte</a>
        </li>
    </ul>
{% endblock %}
