{% extends 'base.html.twig' %}

{% block body %}
    <h1>Consultruimte</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultRuimte.id }}</td>
            </tr>
            <tr>
                <th>Locatie</th>
                <td>{{ consultRuimte.locatie }}</td>
            </tr>
            <tr>
                <th>Kamernummer</th>
                <td>{{ consultRuimte.kamerNummer }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consultruimtes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('consultruimtes_edit', { 'id': consultRuimte.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
