{% extends 'base.html.twig' %}

{% block body %}
    <h1>Clientmedicijns list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Medicijnnaam</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clientMedicijn in clientMedicijns %}
            <tr>
                <td><a href="{{ path('clientmedicijn_show', { 'id': clientMedicijn.id }) }}">{{ clientMedicijn.id }}</a></td>
                <td>{{ clientMedicijn.medicijnNaam }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('clientmedicijn_show', { 'id': clientMedicijn.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('clientmedicijn_edit', { 'id': clientMedicijn.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clientmedicijn_new') }}">Create a new clientMedicijn</a>
        </li>
    </ul>
{% endblock %}
