{% extends 'base.html.twig' %}

{% block body %}
    <section id="main-content">
        <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i>Medicijn Aanmaken</h3>
            <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="submit" value="Create" />
                        {{ form_end(form) }}
                        <div class="form-group">
                            <div class="col-sm-10">
                                <a href="{{ path('clientmedicijn_index') }}">Back to the list</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
