{% extends 'base.html.twig' %}
{% block body %}
    <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Client aanmaken</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                      <form class="form-horizontal style-form" method="get">
                        {{ form_start(form) }}
                          <div class="form-group">
                              <div class="col-sm-10">
                                   {{ form_row(form.locatie) }}
                              </div>
                          </div>

                          <div class="form-group">
                              <div class="col-sm-10">
                                   {{ form_row(form.kamernummer) }}
                              </div>
                          </div>
                          {{ form_row(form.submit) }}
                          {{ form_end(form) }}
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->    	
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

{% endblock %}
