{% extends 'base.html.twig' %}
{% block body %}
    <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Client aanmaken</h3>
          	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	
                      <form class="form-horizontal style-form" method="get">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Voornaam</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="vnaam" required>
                              </div>
                          </div>
                           <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Tussenvoegsel</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="tv" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Achternaam</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="anaam" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Adres</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="adres" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Postcode</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="postcode" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Woonplaats</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="wplaats" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Land</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="land" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Telefoon</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="tel" required>
                                  <span class="help-block">Vul hier het telefoonnummer in van uw eventuele huistelefoon</span>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Mobiel</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="mob" required>
                                  <span class="help-block">Vul hier het telefoonnummer in van uw eventuele mobieletelefoon</span>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*E-mail</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="email" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Geboortedatum</label>
                              <div class="col-sm-10">
                                  <input type="date" name="gbdatum" name="gbdatum" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Geslacht</label>
                              <div class="col-sm-10">
                                   <input type="radio" name="radiobtn" value="man" required>Man</input> <br />
                                   <input type="radio" name="radiobtn" value="vrouw" required>Vrouw</input> <br />
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*BSN</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="bsn" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label" required>*Verzekering</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="verzekering" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">*Verzekeringsnummer</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" name="verzekernummer" required>
                              </div>
                          </div>
                          <button type="submit" class="btn btn-theme">Aanmaken</button><br/>
                          <p>* = een verplicht veld<p>
                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->    	
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

{% endblock %}